$main-font: 'Cambria', 'Georgia', 'Times New Roman', serif;
$code-font: 'Source Code Pro', monospace;

$black: #111;
$gray: lighten($black, 50);
$light-gray: lighten($black, 83);
$green: #81b341;

$width: 700px;
$em: 19px;
