$main-font: 'Cambria', 'Georgia', 'Times New Roman', serif;
$code-font: 'Source Code Pro', monospace;

$white: #fff;
$black: #111;
$gray: lighten($black, 50);
$dark-gray: darken($gray, 25);
$light-gray: lighten($gray, 25);
$orange: #ffa500;
$green: #81b341;
$red: #b82f2f;

$width: 700px;
$em: 19px;
