@import 'defs';
@import 'wrapper';

.disqus {
  @extend %unprintable;
  @extend %wrapper;
  width: 80% !important;
  @media all and (max-width: $width * 1.3) {
    width: 100% !important;
  }
}

.disqus-thread {
  margin-top: 5 * $em;
}
