@import url('/http://img.teamed.io/cambria/.googleapis.com/css?family=Source+Code+Pro:400,500');

@font-face {
  font-family: 'Cambria';
  font-weight: bold;
  font-style: italic;
  src: url('http://img.teamed.io/cambria/2AACA7_0_0.eot');
  src: url('http://img.teamed.io/cambria/2AACA7_0_0.eot?#iefix') format('embedded-opentype'),
    url('http://img.teamed.io/cambria/2AACA7_0_0.woff') format('woff'),
    url('http://img.teamed.io/cambria/2AACA7_0_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Cambria';
  font-weight: bold;
  src: url('http://img.teamed.io/cambria/2AACA7_1_0.eot');
  src: url('http://img.teamed.io/cambria/2AACA7_1_0.eot?#iefix') format('embedded-opentype'),
    url('http://img.teamed.io/cambria/2AACA7_1_0.woff') format('woff'),
    url('http://img.teamed.io/cambria/2AACA7_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Cambria';
  src: url('http://img.teamed.io/cambria/2AACA7_2_0.eot');
  src: url('http://img.teamed.io/cambria/2AACA7_2_0.eot?#iefix') format('embedded-opentype'),
    url('http://img.teamed.io/cambria/2AACA7_2_0.woff') format('woff'),
    url('http://img.teamed.io/cambria/2AACA7_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Cambria';
  font-style: italic;
  src: url('http://img.teamed.io/cambria/2AACA7_3_0.eot');
  src: url('http://img.teamed.io/cambria/2AACA7_3_0.eot?#iefix') format('embedded-opentype'),
    url('http://img.teamed.io/cambria/2AACA7_3_0.woff') format('woff'),
    url('http://img.teamed.io/cambria/2AACA7_3_0.ttf') format('truetype');
}
