@import "defs";
@import "fonts";

table {
  td, th {
    &.rht {
      text-align: right;
    }
    &.cnt {
      text-align: center;
    }
    &.vert {
      height: 4 * $em;
      white-space: nowrap;
      > div {
        transform: translate(0px, $em) rotate(270deg);
        width: 2 * $em;
        text-align: left;
      }
    }
  }
}
