/*
  Icon Font: icons
*/

@font-face {
  font-family: "icons";
  src: url("https://www.yegor256.com/css/icons.eot?1762313547");
  src: url("https://www.yegor256.com/css/icons.eot?#iefix?1762313547") format("embedded-opentype"),
       url("https://www.yegor256.com/css/icons.woff2?1762313547") format("woff2"),
       url("https://www.yegor256.com/css/icons.woff?1762313547") format("woff"),
       url("https://www.yegor256.com/css/icons.ttf?1762313547") format("truetype"),
       url("https://www.yegor256.com/css/icons.svg#icons?1762313547") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "icons";
    src: url("https://www.yegor256.com/css/icons.svg#icons?1762313547") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-angellist:before,
.icon-chatgpt:before,
.icon-coderanch:before,
.icon-comments:before,
.icon-delicious:before,
.icon-digg:before,
.icon-exit:before,
.icon-facebook:before,
.icon-fast-backward:before,
.icon-fast-forward:before,
.icon-github:before,
.icon-gitter:before,
.icon-googleplus:before,
.icon-hackernews:before,
.icon-instagram:before,
.icon-itunes:before,
.icon-link:before,
.icon-linkedin:before,
.icon-mail:before,
.icon-no:before,
.icon-odnoklassniki:before,
.icon-pdf:before,
.icon-pinterest:before,
.icon-play:before,
.icon-podcast:before,
.icon-reddit:before,
.icon-rss:before,
.icon-stackoverflow:before,
.icon-telegram:before,
.icon-tex:before,
.icon-twitter:before,
.icon-vk:before,
.icon-yes:before,
.icon-youtube:before {
  display: inline-block;
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-angellist:before { content: "\f100"; }
.icon-chatgpt:before { content: "\f101"; }
.icon-coderanch:before { content: "\f102"; }
.icon-comments:before { content: "\f103"; }
.icon-delicious:before { content: "\f104"; }
.icon-digg:before { content: "\f105"; }
.icon-exit:before { content: "\f106"; }
.icon-facebook:before { content: "\f107"; }
.icon-fast-backward:before { content: "\f108"; }
.icon-fast-forward:before { content: "\f109"; }
.icon-github:before { content: "\f10a"; }
.icon-gitter:before { content: "\f10b"; }
.icon-googleplus:before { content: "\f10c"; }
.icon-hackernews:before { content: "\f10d"; }
.icon-instagram:before { content: "\f10e"; }
.icon-itunes:before { content: "\f10f"; }
.icon-link:before { content: "\f110"; }
.icon-linkedin:before { content: "\f111"; }
.icon-mail:before { content: "\f112"; }
.icon-no:before { content: "\f113"; }
.icon-odnoklassniki:before { content: "\f114"; }
.icon-pdf:before { content: "\f115"; }
.icon-pinterest:before { content: "\f116"; }
.icon-play:before { content: "\f117"; }
.icon-podcast:before { content: "\f118"; }
.icon-reddit:before { content: "\f119"; }
.icon-rss:before { content: "\f11a"; }
.icon-stackoverflow:before { content: "\f11b"; }
.icon-telegram:before { content: "\f11c"; }
.icon-tex:before { content: "\f11d"; }
.icon-twitter:before { content: "\f11e"; }
.icon-vk:before { content: "\f11f"; }
.icon-yes:before { content: "\f120"; }
.icon-youtube:before { content: "\f121"; }
