$main-font: 'Cambria', 'Georgia', 'Times New Roman', serif;
$main-font-bold: 'Cambria-Bold', 'Georgia', 'Times New Roman', serif;
$main-font-italic: 'Cambria-Italic', 'Georgia', 'Times New Roman', serif;
$code-font: 'Source Code Pro', monospace;
$gray: #777;
$mid-gray: #ccc;
$light-gray: #eee;
$black: #111;
$width: 700px;
$font-size: 19px;

@font-face {
  font-family: 'Cambria-BoldItalic';
  src: url('http://img.yegor256.com/fonts/2AACA7_0_0.eot');
  src: url('http://img.yegor256.com/fonts/2AACA7_0_0.eot?#iefix')
    format('embedded-opentype'),
    url('http://img.yegor256.com/fonts/2AACA7_0_0.woff')
    format('woff'),
  url('http://img.yegor256.com/fonts/2AACA7_0_0.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Cambria-Bold';
  src: url('http://img.yegor256.com/fonts/2AACA7_1_0.eot');
  src: url('http://img.yegor256.com/fonts/2AACA7_1_0.eot?#iefix')
    format('embedded-opentype'),
    url('http://img.yegor256.com/fonts/2AACA7_1_0.woff')
    format('woff'),
  url('http://img.yegor256.com/fonts/2AACA7_1_0.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Cambria';
  src: url('http://img.yegor256.com/fonts/2AACA7_2_0.eot');
  src: url('http://img.yegor256.com/fonts/2AACA7_2_0.eot?#iefix')
    format('embedded-opentype'),
  url('http://img.yegor256.com/fonts/2AACA7_2_0.woff')
    format('woff'),
  url('http://img.yegor256.com/fonts/2AACA7_2_0.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Cambria-Italic';
  src: url('http://img.yegor256.com/fonts/2AACA7_3_0.eot');
  src: url('http://img.yegor256.com/fonts/2AACA7_3_0.eot?#iefix')
    format('embedded-opentype'),
  url('http://img.yegor256.com/fonts/2AACA7_3_0.woff')
    format('woff'),
  url('http://img.yegor256.com/fonts/2AACA7_3_0.ttf')
    format('truetype');
}
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500);

@import "highlight";

body {
  height: 100%;
  font-family: $main-font;
  font-weight: 400;
  background-color: #fff;
  color: $black;
  font-size: $font-size;
  margin: 0;
  padding-top: 2 * $font-size;
  padding-bottom: 2 * $font-size;
  position: relative;
  overflow-x: hidden;
  @media all and (max-width: $width) {
    font-size: 0.85 * $font-size;
  }
}
strong {
  font-family: $main-font-bold;
  font-weight: 400;
}
i {
  font-family: $main-font-italic;
  font-weight: 400;
}
a, a:visited {
  color: $black;
  text-decoration: underline;
}
.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: $width;
  line-height: 1.4 * $font-size;
  padding-left: 2 * $font-size;
  padding-right: 2 * $font-size;
  @media all and (max-width: $width) {
    width: 100%;
  }
}
.photo {
  width: 80px;
  border-radius: 50%;
}
.top {
  text-align: center;
  .menu {
    list-style: none;
    li {
      display: inline;
      margin-right: 0.4 * $font-size;
    }
  }
  .gcse {
    @media all and (min-width: $width + 1) {
      width: 75%;
    }
    @media all and (max-width: $width) {
      width: 100%;
    }
    display: inline-block;
    line-height: normal;
    input.gsc-search-button {
      background-color: #ccc;
      border-color: #ccc;
      &:hover {
        background-color: $black;
        border-color: $black;
      }
    }
  }
}
.disqus {
  @extend .wrapper;
  width: 80%;
  @media all and (max-width: $width * 1.3) {
    width: 100%;
  }
}
#disqus_thread {
  margin-top: 5 * $font-size;
}
time {
  font-size: 0.85 * $font-size;
  color: $gray;
  margin-right: $font-size;
}
.share {
  font-size: 1.5 * $font-size;
  a, a:visited {
    text-decoration: none;
    margin-right: 0.1 * $font-size;
    color: $gray;
  }
  a:hover {
    color: $black;
  }
}
code,
pre {
  font-family: $code-font;
  font-weight: 400;
}
code {
  background-color: $light-gray;
  font-size: 0.9 * $font-size;
  line-height: $font-size;
  padding: 0 0.3 * $font-size;
}
h1 {
  font-weight: 600;
  font-size: 2 * $font-size;
  line-height: 2 * $font-size;
  a {
    text-decoration: none;
  }
}
h2, h3 {
  position: relative;
}
table.highlighttable {
  td.linenos {
    width: 2 * $font-size;
    min-width: 2 * $font-size;
    text-align: right;
  }
}
.linenodiv {
  color: $mid-gray;
  border-right: 3px solid $mid-gray;
  padding-right: 0.5 * $font-size;
  margin-right: 0.2 * $font-size;
}
.highlight pre code {
  display: block;
  line-height: 1.4 * $font-size;
  margin-left: 2 * $font-size;
  padding-left: 0.5 * $font-size !important;
  border-left: 3px solid $mid-gray;
}
.linenodiv pre code,
.highlight pre code {
  background-color: inherit;
  padding: 0;
}
.front {
  margin-bottom: 4 * $font-size;
}
.pagination {
  text-align: center;
  .mute {
    color: $mid-gray;
  }
}
figure {
  margin: 0;
}
.badge {
  float: right;
  margin-left: 2em;
}
.header-link {
  position: absolute;
  left: -1.4em;
  opacity: 0;
  font-size: .75em;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;
}
blockquote {
  color: $gray;
  font-family: $main-font-italic;
  p:before,
  p:after {
    display: inline;
    content: "ˮ";
  }
}

.fa-twitter-square:hover { color: #00aced; }
.fa-facebook-square:hover { color: #3b5998; }
.fa-google-plus-square:hover { color: #dd4b39; }
.fa-linkedin-square:hover { color: #007bb6; }

