@import "_temp/_ico.scss";
@import "defs";
@import "fonts";
@import "highlight";
@import "ico";

.green {
  color: green;
}
.gray {
  color: $gray;
  a, a:visited {
    color: inherit;
  }
}
.light-gray {
  color: $light-gray;
}
.small {
  font-size: 0.85 * $em;
}
.desktop-only {
  @media all and (max-width: $width) {
    display: none !important;
  }
}
body {
  height: 100%;
  font-family: $main-font;
  font-weight: 400;
  background-color: #fff;
  color: $black;
  font-size: $em;
  margin: 0;
  padding-top: 2 * $em;
  padding-bottom: 2 * $em;
  position: relative;
  overflow-x: hidden;
}
a, a:visited {
  color: inherit;
  text-decoration: underline;
}
.wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: $width;
  line-height: 1.4 * $em;
  padding-left: 2 * $em;
  padding-right: 2 * $em;
  @media all and (max-width: $width) {
    width: 100%;
    padding-left: $em;
    padding-right: $em;
  }
}
.photo {
  width: 80px;
  border-radius: 50%;
}
.header {
  @include unprintable();
  text-align: center;
  .menu {
    list-style: none;
    padding-left: 0;
    li {
      display: inline;
      margin-left: 0.2 * $em;
      margin-right: 0.2 * $em;
    }
  }
  .social {
    a {
      text-decoration: none;
    }
  }
}
.footer {
  @extend .small;
  @extend .gray;
  @extend .desktop-only;
  margin-top: 5 * $em;
  text-align: center;
}
.disqus {
  @include unprintable();
  @extend .wrapper;
  width: 80%;
  @media all and (max-width: $width * 1.3) {
    width: 100%;
  }
}
#disqus_thread {
  margin-top: 5 * $em;
}
time {
  @extend .small;
  @extend .gray;
  margin-right: $em;
}
.video {
  @include unprintable();
  @extend .desktop-only;
}
.buttons {
  @include unprintable();
  .share {
    a, a:visited {
      text-decoration: none;
    }
    a {
      position: relative;
      .count {
        display: none;
        position: absolute;
        font-family: $code-font;
        top: -.7 * $em;
        right: .3 * $em;
        font-size: .6 * $em;
        padding: 0 .2 * $em;
        line-height: .7 * $em;
        background-color: white;
        border: 1px solid $gray;
        color: $gray;
      }
      .icon {
        $size: 1.2;
        padding: .4 * $size * $em;
        border-radius: 50%;
        height: $size * $em;
        width: $size * $em;
        line-height: $size * $em;
        margin-right: .2 * $em;
        margin-bottom: .2 * $em;
        text-align: center;
        vertical-align: middle;
        border: 1px solid $gray;
        display: inline-block;
        color: $gray;
        &:hover {
          background-color: $gray;
          color: white;
        }
      }
    }
  }
}
code, pre {
  font-family: $code-font;
  font-weight: 400;
}
code {
  background-color: $light-gray;
  line-height: $em;
  padding: 0 0.3 * $em;
}
label {
  display: block;
}
fieldset {
  border: 0;
  padding: 0;
}
.field {
  box-sizing: border-box;
  font-size: $em;
  font-family: $main-font;
  padding: .2 * $em .5 * $em;
}
.field-text {
  border: 1px solid $black;
  @media all and (max-width: $width) {
    width: 100%;
  }
}
h1 {
  font-weight: 600;
  font-size: 2 * $em;
  line-height: 2 * $em;
  a {
    text-decoration: none;
  }
}
h2, h3 {
  position: relative;
}
h2 {
  margin-top: 2 * $em;
  a.link {
    @extend .gray;
    margin-left: .3 * $em;
    text-decoration: none;
    &:hover {
      color: inherit;
      opacity: 1;
    }
  }
}
.highlighttable {
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  .linenos {
    @extend .gray;
    @extend .desktop-only;
    width: 2 * $em;
    padding-right: 2px;
    min-width: 2 * $em;
    text-align: right;
  }
  .highlight {
    margin-left: 0;
  }
  @media all and (max-width: $width) {
    overflow-x: auto;
  }
}
.highlight {
  margin-left: 2 * $em;
  padding-left: 0.5 * $em !important;
  border-left: 3px solid $light-gray;
  @media all and (max-width: $width) {
    margin-left: 0;
    padding-left: 0 !important;
    border-left: 0;
    overflow-x: auto;
  }
}
pre {
  display: block;
  font-size: 0.9 * $em;
  line-height: 1.2 * $em;
  code {
    background-color: inherit;
    padding: 0;
  }
  @media all and (max-width: $width) {
    line-height: 1.2 * $em;
  }
}
.front {
  margin-bottom: 4 * $em;
}
.pagination {
  @include unprintable();
  text-align: center;
  .mute {
    @extend .gray;
  }
  a {
    text-decoration: none;
  }
}
.badge {
  @extend .desktop-only;
  float: right;
  margin-left: 2em;
}
blockquote {
  @extend .gray;
  font-style: italic;
  p:before,
  p:after {
    display: inline;
    content: "ˮ";
  }
  @media all and (max-width: $width) {
    margin-left: 0;
  }
}
figure {
  position: relative;
  margin: 0;
  img {
    max-width: 100%;
  }
  figcaption {
    position: absolute;
    font-size: .8em;
    line-height: 1em;
    left: .5em;
    bottom: 1em;
    color: lighten($black, 20);
    background-color: rgba(0, 0, 0, .7);
  }
  figcaption:before {
    content: "©";
  }
}
.graphviz-wrapper {
  text-align: center;
}
.tag {
  white-space: nowrap;
  font-family: $code-font;
  font-size: .8 * $em;
  margin-right: .2 * $em;
  padding: 0 .5 * $em;
  background-color: $gray;
  text-decoration: none;
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    background-color: $black;
  }
}
.note {
  margin-top: 0;
  font-size: .8 * $em;
  line-height: $em;
  color: $gray;
}
