---
---

@import 'defs';
@import 'fonts';
@import 'highlight';
@import 'ico';
@import 'disqus';
@import 'post';
@import 'wrapper';

%gray {
  color: $gray;

  a,
  a:visited {
    color: inherit;
  }
}

%light-gray { color: $light-gray; }

.em2 { font-size: 2em; }
.center { text-align: center; }
.green { color: $green; }
.red { color: $red; }
.orange { color: $orange; }
.gray { @extend %gray; }

%clear { clear: both; }

%small { font-size: .85 * $em; }

%strike { text-decoration: line-through; }

%main-font { font-family: $main-font; }

%desktop-only {
  @media all and (max-width: $width) {
    display: none;
  }
}

.desktop-only { @extend %desktop-only; }

%unprintable {
  @media print {
    display: none !important;
    visibility: hidden;
  }
}

.unprintable { @extend %unprintable; }

%printable {
  @media not print  {
    display: none !important;
    visibility: hidden;
  }
}

.clear { @extend %clear; }

.printable { @extend %printable; }

body {
  @extend %main-font;
  background-color: $white;
  color: $black;
  font-size: $em;
  font-weight: 400;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 2 * $em;
  padding-top: 2 * $em;
  position: relative;
}

a,
a:visited {
  color: inherit;
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}

.foreign:before {
  @extend %gray;
  @extend %unprintable;
  @extend %desktop-only;
  font-size: .4 * $em;
  margin-left: -.2 * $em;
  margin-right: -.2 * $em;
  vertical-align: top;
}

.teamed-banner {
  @extend %unprintable;
  @extend %desktop-only;
  margin-bottom: 2 * $em;
  margin-top: 2 * $em;
  width: 100%;

  img {
    width: 100%;
  }
}

.header-toggle {
  cursor: pointer;
  font-size: 1.4 * $em;
  @media all and (min-width: $width) {
    display: none;
  }
}

.header {
  @extend %desktop-only;
  @extend %unprintable;
  text-align: center;
  @media all and (max-width: $width) {
    text-align: left;
  }

  .hot {
    @extend %unprintable;
    font-family: $code-font;
    font-size: 85%;
    line-height: $em;
    margin-bottom: 2 * $em;
    margin-top: 2 * $em;
    text-align: left;

    ul {
      list-style: none;
      padding-left: 0;

      li {
        border-left: 4px solid $green;
        color: darken($green, 25);
        margin-bottom: $em;
        padding-left: $em;
      }
    }
  }

  .menu {
    list-style: none;
    padding-left: 0;

    li {
      display: inline;
      margin-right: .4 * $em;

      &:after {
        content: ' ';
      }
    }
  }

  .search {
    form {
      position: relative;
    }

    .google {
      @extend %desktop-only;
      height: 2.4em;
      margin-left: 1em;
      position: absolute;
      top: .3em;
      visibility: hidden;
    }
  }

  .social {
    a {
      text-decoration: none;
    }
  }

  .face {
    position: relative;

    .photo {
      border-radius: 50%;
      height: 80px;
      width: 80px;
    }

    .hire {
      @extend %desktop-only;
      color: darken($green, 15);
      left: 50%;
      margin-left: 45px;
      position: absolute;
      text-decoration: underline;
      top: 0;
    }

    .sub {
      @extend %desktop-only;
      color: darken($green, 15);
      margin-right: 45px;
      position: absolute;
      right: 50%;
      text-align: right;
      text-decoration: underline;
      top: 50px;
    }
  }
}

.footer {
  @extend %small;
  @extend %gray;
  @extend %desktop-only;
  margin-top: 5 * $em;
  text-align: center;
}

.video {
  @extend %unprintable;
  border: 0;
  height: 360px;
  max-width: 100%;
  width: 640px;

  &.video-left {
    float: left;
    height: 180px;
    margin-bottom: 1em;
    margin-right: 1em;
    width: 320px;
  }

  &.video-right {
    float: right;
    height: 180px;
    margin-bottom: 1em;
    margin-left: 1em;
    width: 320px;
  }
}

label {
  display: block;
}

fieldset {
  border: 0;
  padding: 0;
}

.field {
  @extend %main-font;
  box-sizing: border-box;
  font-size: $em;
  padding: .2 * $em .5 * $em;
}

.field-text {
  border: 1px solid $black;
  @media all and (max-width: $width) {
    width: 100%;
  }
}

b,
strong {
  font-weight: bold;
}

h1 {
  @extend %clear;
  font-size: 2 * $em;
  font-weight: bold;
  line-height: 2 * $em;
  margin-bottom: .5 * $em;

  a {
    text-decoration: none;
  }
}

h2,
h3 {
  @extend %clear;
  position: relative;
}

h2 {
  margin-top: 2 * $em;

  .link {
    @extend %gray;
    @extend %desktop-only;
    margin-left: .3 * $em;
    text-decoration: none;

    &:hover {
      color: inherit;
      opacity: 1;
    }
  }
}

.subline {
  @extend %gray;
  @extend %small;
  list-style: none;
  margin-top: 0;
  padding-left: 0;

  li {
    display: inline;
    margin-right: .5 * $em;
    white-space: nowrap;
  }
}

.front {
  margin-bottom: 4 * $em;
  margin-top: 2 * $em;
}

.pagination {
  @extend %unprintable;
  text-align: center;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .mute {
    @extend %gray;
  }

  a {
    text-decoration: none;
  }
}

sup,
sub {
  font-size: .6em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.3em;
}

sub {
  top: .3em;
}

hr {
  @extend %clear;
  border: 0;
  border-top: 1px solid $light-gray;
  height: 0;
  margin-top: 2 * $em;
  text-align: left;
  width: 50%;
}

.badge {
  float: right;
  margin-left: 2em;
  @media all and (max-width: $width) {
    float: none;
    margin-bottom: $em;
    margin-left: 0;
    margin-top: $em;
    max-width: 100%;
  }
}

blockquote {
  border-left: 3px solid $light-gray;
  font-style: italic;
  margin-left: 1.5 * $em;
  padding-left: .5 * $em !important;
  position: relative;

  p:before {
    @extend %gray;
    @extend %desktop-only;
    content: 'ˮ';
    font-size: 2.5 * $em;
    left: -1.5 * $em;
    position: absolute;
    top: .5 * $em;
  }

  @media all and (max-width: $width) {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
}

.quote {
  @extend %desktop-only;
  @extend %unprintable;
  border-left: 4px solid $green;
  float: right;
  font-size: 1.6 * $em;
  line-height: 1.6 * $em;
  margin: .5 * $em -5 * $em .5 * $em $em;
  padding-left: .75 * $em;
  width: 15 * $em;

  &:before {
    content: 'ˮ';
  }
}

.book {
  @extend %desktop-only;
  @extend %unprintable;
  float: right;
  font-family: $code-font;
  margin: .5 * $em -6 * $em .5 * $em $em;
  padding-left: .75 * $em;
  width: 15 * $em;

  .book-cover {
    float: left;
    height: 160px;
    margin-right: .6 * $em;
    width: 108px;
  }

  .amazon-button {
    height: 20px;
  }
}

figure {
  margin: 0;
  position: relative;

  img {
    max-width: 100%;
  }

  figcaption {
    background-color: rgba(0, 0, 0, .7);
    bottom: 1em;
    color: lighten($black, 40);
    font-size: .8em;
    left: .5em;
    line-height: 1em;
    max-width: 90%;
    position: absolute;
  }

  figcaption:before {
    content: '© ';
  }
}

.graphviz-wrapper {
  text-align: center;
}

.tagged {
  margin: $em 0;
}

.tag {
  background-color: $gray;
  color: $white !important;
  font-family: $code-font;
  font-size: .8 * $em;
  margin-right: .2 * $em;
  padding: 0 .5 * $em;
  text-decoration: none;
  white-space: nowrap;

  img {
    display: inline-block;
    height: 1em;
    margin-right: .2em;
    margin-top: -.25em;
    vertical-align: middle;
  }

  &:visited {
    color: $white !important;
  }

  &:hover {
    background-color: $black;
  }
}

.note {
  color: $gray;
  font-size: .8 * $em;
  line-height: $em;
  margin-top: 0;
}

.about-badge {
  height: 24px;
}

.gist {
  pre {
    font-size: 12px !important;
  }
}

.plantuml {
  width: 100%;
}

// see 2015-11-03-chatbot-better-than-ui-for-microservices
.bullet {
  background-color: $white;
  border-radius: 50%;
  color: lighten($orange, 25);
  display: inline-block;
  font-size: .8em;
  font-weight: bold;
  height: 1em;
  line-height: 1em;
  padding: .2em;
  text-align: center;
  vertical-align: middle;
  width: 1em;
}

.politics {
  background-color: $red;
  color: $white !important;
  padding: 0 .5em;
  text-decoration: none;
}
