{% if first %}
{{first}},
{% else %}
Hi,
{% endif %}

It's [Labour Day](https://en.wikipedia.org/wiki/International_Workers%27_Day) today,
hope you celebrate! This is what, out of everything recently published,
you may want to read on my blog:

  * [Nine Steps of Learning by Refactoring](https://www.yegor256.com/2018/04/10/learning-by-refactoring.html)
    suggests a few steps to make the code clean, especially
    if the code is not yours.

  * [How to Be Lazy and Stay Calm](https://www.yegor256.com/2018/04/17/how-to-be-lazy.html)
    says that "you should always and only think about yourself and your personal profit"
    and explains why and how, giving a few practical examples.

Aside from that, I recorded four new episodes of [Shift-M](https://www.yegor256.com/shift-m.html)
podcast. Two of them you definitely want to listen to:
[No.26](https://www.yegor256.com/shift-m/2018/26.html)
with [James Bach](https://www.satisfice.com/) (about software testing)
and [No.27](https://www.yegor256.com/shift-m/2018/27.html)
with [GeePaw Hill](http://geepawhill.org/) (about TDD).
By the way, if you know anyone, who I should invite to the podcast, please email.

We published a few interviews about [Zerocracy](https://www.zerocracy.com) at their
[YouTube channel](https://www.youtube.com/channel/UCxZAzmY_OPw40I1-YStWqhw) (subscribe now),
these two are the most interesting:
[#NoAltruism](https://www.youtube.com/watch?v=vXUwE3FGfpg&t=2s) and
[#NoSalaries](https://www.youtube.com/watch?v=ODxm7w2DE-g).
We also published a [summary](https://www.zerocracy.com/how-it-works)
of what Zerocracy is (it's still a draft).
The platform is growing, see [how many](https://www.zerocracy.com/team) programmers are with us already.
You can join too, just fill out [this form](https://www.zerocracy.com/join).
You can also let us manage your project and your programmers, just
submit a [Request-for-Proposal](https://www.zerocracy.com/rfp) or email me,
I will help you out.

I decided to start writing for other places, not only
my own blog. Here is the first article, recently published at
the blogging section of _Communications of the ACM_:
[The Era of Hackers Is Over](https://cacm.acm.org/blogs/blog-cacm/227154-the-era-of-hackers-is-over/fulltext).
It's based on two articles I previously published on the blog:
[Are You a Hacker or a Designer?](https://www.yegor256.com/2014/10/26/hacker-vs-programmer-mentality.html)
and
[Are You a Coder or a Developer?](https://www.yegor256.com/2018/01/23/sociotech-skills.html).

If you read my books, please review them on
[Amazon](https://www.amazon.com/Yegor-Bugayenko/e/B01AM1QMDK).
When you post a review, email me your postal address and I will mail you
a few durable cactus stickers for your laptop (shipment is free).
Also, I will appreciate if you review on
[Google](https://www.google.com.ua/search?tbo=p&tbm=bks&q=inauthor:%22Yegor+Bugayenko%22) and
[GoodReads](https://www.goodreads.com/author/show/15033289.Yegor_Bugayenko).

Don't forget to join my [Telegram group](https://t.me/joinchat/AAAAAEJFMRzsRTRxM3ec6A),
to stay up to date with everything that happens here.
We also now have a [group](https://t.me/joinchat/CLxAaQ0xp-g_3WWI3MBr2g) for Zerocracy early adopters.

&mdash;<br/>
Yegor Bugayenko<br/>
<a href="https://www.yegor256.com">www.yegor256.com</a>

<p style="color: gray;">You received this monthly email update because
your address ({{email}}) is
in my list of subscribers. I'm sending these emails strictly once a month. Click here to
<a href="https://www.yegor256.com/unsubscribe.html?email={{email | escape}}">unsubscribe instantly</a>
(no questions asked, you can always subscribe later again).</p>
