{% if first %}
{{first}},
{% else %}
Hi,
{% endif %}

Some good news first. [Code Ahead](https://www.yegor256.com/code-ahead.html),
my forth book about project management
and the philosophy of software development, is [on sale](https://amzn.to/2u9BbqF)!
It's a semi-autobiographical fiction book about a software architect who
is involved in programming, debugging, releasing, testing, organizing,
team work, and management issues. I've spent over a year for writing
and re-writing it. Definitely worth reading, if you share my thoughts about
management (even if you don't, you may change your mind after reading it).

Second, if you speak Russian, you may be interested in buying a Russian
version of [Elegant Objects Vol.1](https://www.piter.com/collection/all/product/elegantnye-obekty-java-edition),
which was translated and published
by "Piter," a St.Petersburg based publisher in Russia.

These two articles I published on my blog in July:

  * [What's Wrong With Global Variables?](https://www.yegor256.com/2018/07/03/global-variables.html)
    re-iterates on the evil nature of globally visible variables,
    with a simple Ruby demonstration.

  * [Either Bugs or Pull Requests ... or You Are Out](https://www.yegor256.com/2018/07/24/bugs-or-pull-requests.html)
    is a pretty emotional piece that summarizes my attitude towards
    "good" and "bad" programmers.

As you know, we are working hard on [Zold](https://www.zold.io), a new experimental non-Blockchain
cryptocurrency, which is going to [support the growth](https://blog.zold.io/2018/07/08/mission.html) of Zerocracy. In July
we made a lot of technical progress. You are welcome to invest into ZLD,
just [click here](https://www.0crat.com/contrib/CAZPZR9FS). All funds contributed
are spent on open source projects managed by [Zerocrat](https://www.yegor256.com/2018/04/03/donations-via-zerocracy.html).
I also started to [blog](https://blog.zold.io/) about it and the crypto world in general.

Also, we are raising the first round of investments for Zerocracy and you
have a chance to jump in. The [Executive Summary](http://papers.zold.io/executive-summary.pdf) we just published
explains the deal ($25K is the minimum you can contribute with).

Don't miss a [webinar](https://www.youtube.com/watch?v=FNWyN_Q10TI) next Wednesday, about global variables.
Also, don't forget to join my [Telegram chat](https://t.me/joinchat/AAAAAEJFMRzsRTRxM3ec6A)
and follow me on [Facebook](https://www.facebook.com/yegor256) and [Twitter](https://twitter.com/intent/follow?screen_name=yegor256).

&mdash;<br/>
Yegor Bugayenko<br/>
<a href="https://www.yegor256.com">www.yegor256.com</a>

<p style="color: gray;">You received this monthly email update because
your address ({{email}}) is
in my list of subscribers. I'm sending these emails strictly once a month. Click here to
<a href="https://www.yegor256.com/unsubscribe.html?email={{email | escape}}">unsubscribe instantly</a>
(no questions asked, you can always subscribe later again).</p>
