{% if first %}
{{first}},
{% else %}
Hi,
{% endif %}

I published just one blog post in June, which you may want to read:
[Are You an Architect?](https://www.yegor256.com/2018/06/26/are-you-an-architect.html)
It highlights key qualities a good software architect, in my opinion, has to possess.

Aside from that I was busy with [Zold](https://www.zold.io), a cryptocurrency we launched a month ago.
You may be interested to read its [White Paper](https://papers.zold.io/wp.pdf) (22 page)
or a pretty short [Green Paper](https://papers.zold.io/green-paper.pdf) (4 pages).
The project is growing pretty fast and we are looking for Ruby, Java, and JavaScript (!) developers
to help us make it more stable and add new features. We pay up to $60 per hour
at the moment. Join our [Telegram group](https://t.me/zold_io),
if interested in helping.

Yesterday I announced the creation of a new closed Telegram group for [Elegant Objects](https://www.elegantobjects.org/)
active supporters and contributors. We will unite those who write and speak
about object-oriented programming in order to achieve more, as a group.
If you are interested in joining, [text me](https://t.me/yegor256) in Telegram.

Aside from that, my article [We are Done with 'Hacking'](https://cacm.acm.org/magazines/2018/7/229044-we-are-done-with-hacking/fulltext)
was published in the July edition of
_Communications of the ACM_.
Here is the [PDF](https://www.yegor256.com/pdf/2018/we-are-done-with-hacking.pdf).
It's a big deal, I believe.

&mdash;<br/>
Yegor Bugayenko<br/>
<a href="https://www.yegor256.com">www.yegor256.com</a>

<p style="color: gray;">You received this monthly email update because
your address ({{email}}) is
in my list of subscribers. I'm sending these emails strictly once a month. Click here to
<a href="https://www.yegor256.com/unsubscribe.html?email={{email | escape}}">unsubscribe instantly</a>
(no questions asked, you can always subscribe later again).</p>
