{% if first %}
{{first}},
{% else %}
Hi,
{% endif %}

I wrote just three articles in May (was a bit lazy) and all of them are pretty
good, if we look at the amount of comments they collected in just a few weeks:

  * [Object Validation: to Defer or Not?](https://www.yegor256.com/2018/05/29/object-validation.html)
    is my new opinion about constructors and the code inside them,
    which refines [the article](https://www.yegor256.com/2015/05/07/ctors-must-be-code-free.html),
    which I published three years go.

  * [One More Recipe Against NULL](https://www.yegor256.com/2018/05/22/default-arguments-against-null.html)
    suggests to use default method arguments in order to avoid
    returning NULL, which are evil.

  * [An Open Code Base Is Not Yet an Open Source Project](https://www.yegor256.com/2018/05/08/open-source-attributes.html)
    gives a number of suggestions to you, if you are a
    maintainer of an open source repository.

As you know, I regulary invite interesting people to my [Shift-M podcast](https://www.yegor256.com/shift-m.html)
to talk about project management and software engineering (not programming).
Do you know anyone who is worth inviting for a one-hour discussion, like
a manager, an expert in software development or just a famous
software person you may want me to interview?

If you are a blogger/speaker and a fan of object-oriented programming
(especially its [Elegant Objects](https://www.elegantobjects.org/) wing),
email me. I can help you make your articles better
by reviewing them, helping to write, re-tweeting, promoting them through
my followers, etc. Reply to this email and we'll discuss.

A few days ago we launched [Zold](https://www.zold.io): a new cryptocurrency for
fast micro payments. It is [open source](https://github.com/yegor256/zold),
written in Ruby (by myself so far),
utilizes the proof-of-work consensus achievement principle, and has a
[White Paper](https://github.com/zerocracy/zold/raw/master/wp/wp.pdf) (still an early draft).
If you are interested to contribute by writing Ruby or C++ or somehow else,
in order to earn some early ZLD coins, just join our [Telegram group](https://t.me/zold_io).
You can't buy ZLD as of yet.

[Zerocracy](https://www.zerocracy.com) is constantly looking for Java and Ruby developers. We have a few
projects right now, properly funded, but lacking talents. Do you know anyone
who may be a good fit for us? If you do, please ping me in our
[Telegram group](https://t.me/joinchat/CLxAaQ0xp-g_3WWI3MBr2g)
or simply fill out [this form](https://www.zerocracy.com/join).

Ah, by the way, I started to publish some texts outside of my blog. Check these
two pieces I wrote for Blog@CACM in May:
[The Era of Hackers Is Over](https://cacm.acm.org/blogs/blog-cacm/227154-the-era-of-hackers-is-over/fulltext)
and
[The Goal of Software Testing](https://cacm.acm.org/blogs/blog-cacm/228226-the-goal-of-software-testing/fulltext).
They reiterate the topics I have already touched on the blog, but provide
more details and a bit deeper analysis. I'm going to continue writing
for other platforms. What do you think about this strategy? BTW, if you want to
help or know some places that may be interested in my texts, let me know too.

&mdash;<br/>
Yegor Bugayenko<br/>
<a href="https://www.yegor256.com">www.yegor256.com</a>

<p style="color: gray;">You received this monthly email update because
your address ({{email}}) is
in my list of subscribers. I'm sending these emails strictly once a month. Click here to
<a href="https://www.yegor256.com/unsubscribe.html?email={{email | escape}}">unsubscribe instantly</a>
(no questions asked, you can always subscribe later again).</p>
