Hi,

{% include letter %}

&mdash;<br/>
Yegor Bugayenko

<p style="color: gray;">You received this email because your address ({{email}}) is
in my list of subscribers. Click here to
[unsubscribe instantly](http://www.yegor256.com/unsubscribe.html?email={{email | escape}}).</p>
