{% if first %}
{{first}},
{% else %}
Hi,
{% endif %}

{% include letter %}

&mdash;<br/>
Yegor Bugayenko<br/>
<a href="https://www.yegor256.com">www.yegor256.com</a>

<p style="color: gray;">You received this monthly email update because
your address ({{email}}) is
in my list of subscribers. I'm sending these emails strictly once a month. Click here to
<a href="https://www.yegor256.com/unsubscribe.html?email={{email | escape}}">unsubscribe instantly</a>
(no questions asked, you can always subscribe later again).</p>
