Good news, Elegant Objects **Volume 2** is finally published, buy it from
[Amazon.com](https://amzn.to/2pwad9E),
[Amazon.co.uk](https://www.amazon.co.uk/Elegant-Objects-2-Yegor-Bugayenko/dp/1534908307/ref=sr_1_1),
[Amazon.de](https://www.amazon.de/Elegant-Objects-Yegor-Bugayenko/dp/1534908307/ref=sr_1_2),
or
[Amazon.jp](https://www.amazon.co.jp/Elegant-Objects-Yegor-Bugayenko/dp/1534908307/ref=sr_1_2)!

<a href="https://amzn.to/2pwad9E"><img
  src="http://cf.jare.io/?u=http%3A%2F%2Fwww.yegor256.com%2Fimages%2Fbooks%2Felegant-objects%2Fcover.png"
  style="width:128px;height:194px;"/></a>

There were not so many articles in April, but two new small projects
were launched instead:

[0pdd.com](https://www.0pdd.com): a hosted cloud service that
helps you automate Puzzle Driven Development (we discussed it
in [Webinar #23](https://www.youtube.com/watch?v=nsYGC2aUwfQ))
in your GitHub repository.
The blog post [PDD in Action](https://www.yegor256.com/2017/04/05/pdd-in-action.html)
explained how it works. It is open source and free of charge. Try it
out in your own project.

[sixnines.io](https://www.sixnines.io): a hosted service that
regularly checks the status of your website and measures its
"availability"&mdash;a very important non-functional metric. The
blog post [SixNines.io, Your Website Availability Monitor](https://www.yegor256.com/2017/04/25/sixnines.html)
described how you can get a nice looking badge for your website:

<a href="https://www.sixnines.io/h/3ba1652f"><img
  src="https://www.sixnines.io/b/3b05e836?style=flat&amp;format=png"
  style="width:106px;height:20px;"/></a>

I created my own Telegram group for recent news and updates about my
business and writing activity; please, [join](https://t.me/joinchat/AAAAAEJFMRzsRTRxM3ec6A).

Don't miss [Webinar #24](https://www.youtube.com/watch?v=DjrA7_Uymok) this Wednesday
about inheritance and subtyping in object-oriented programming, at
[11am PST](https://www.google.com/calendar/event?action=TEMPLATE&dates=20170503T190000Z/20170503T200000Z&sprop=website:https://www.youtube.com/watch?v=%23%7B@id%7D&text=Inheritance%20vs.%20Subtyping%20(webinar%20%2324)&location=YouTube%20Live&details=Webinar%20%2324%20by%20Yegor%20Bugayenko,%20click%20here%20to%20join:%20https://www.youtube.com/watch?v=DjrA7_Uymok)
(click here for a Google event).

In May, meet me
in Riga at [RigaDevDays](http://rigadevdays.lv/) (May 15),
in Kraków at [GeeCON](https://geecon.org/) (May 18),
and in Kyiv at [JEEConf](http://jeeconf.com/speaker/yegor-bugayenko-2/) and
at [KIOF](http://outsourceforum.org/) (May 26).
