# SPDX-FileCopyrightText: Copyright (c) 2014-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT

*.log
.bundle/
.claude/
.DS_Store
.fontcustom-manifest.json
.idea/
.jekyll-cache/
.sass-cache/
.yardoc/
_chatgpt-translate/
_gnuplot/**/*.svg
_newsletters/send.sh
_site/
_temp/
coverage/
css/_icons.scss
doc/
gnuplot/
node_modules/
rdoc/
uml/
vendor/
