_chatgpt-translate/
_gnuplot/**/*.svg
_newsletters/send.sh
_site/
_temp/
.bundle/
.DS_Store
.fontcustom-manifest.json
.idea/
.jekyll-cache/
.sass-cache/
.yardoc/
coverage/
css/_icons.scss
doc/
gnuplot/
node_modules/
rdoc/
uml/
vendor/
