# SPDX-FileCopyrightText: Copyright (c) 2014-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT

* text eol=lf
*.png binary
*.jpg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.jar binary
*.eot binary
*.pdf binary
*.gif binary
favicon.ico binary
