---
layout: default
title: "Yegor Bugayenko About Programming"
description:
  Personal blog of Yegor Bugayenko about programming, mostly in Java,
  but also in PHP, JavaScript, Ruby, Python and Lisp
keywords:
  - java blog
  - java
  - software development blog
  - programming blog
  - yegor bugayenko blog
  - quality of software
  - software blog
  - high quality programming
  - static analysis
  - software testing
  - ruby blog
  - javascript blog
  - php blog
---

{% for post in paginator.posts %}
  <div class="wrapper">
    <section class="front">
      <p>
        <time datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%-d %B %Y" }}
        </time>
      </p>
      <header>
        <h1>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>
      </header>
      <div class="main">
        {{ post.excerpt }}
      </div>
      <p>
        <a href="{{ post.url }}">
          continue...
        </a>
      </p>
      <p class="gray small desktop-only">
        {{ post.content | count_words }}
        words,
        {% capture time %}{{ post.content | reading_time }}{% endcapture %}
        {% if time == '1' %}
          a minute
        {% else %}
          {% case time %}
            {% when '2' %}
              two
            {% when '3' %}
              three
            {% when '4' %}
              four
            {% when '5' %}
              five
            {% else %}
              {{ time }}
          {% endcase %}
          minutes
        {% endif %}
        to read,
        <a href="{{ post.url }}#disqus_thread">comments</a>
      </p>
    </section>
  </div>
{% endfor %}
<script src="//yegor256.disqus.com/count.js" async="async"></script>

<div class="wrapper">
  <div class="pagination">
    <div style="float: left;">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a href="/"><i class="icon icon-fast-backward"></i></a>
        {% else %}
          <a href="/p/{{ paginator.previous_page }}"><i class="icon icon-fast-backward"></i></a>
        {% endif %}
      {% else %}
        <span class="mute"><i class="icon icon-fast-backward"></i></span>
      {% endif %}
    </div>
    page {{ paginator.page }} of {{ paginator.total_pages }}
    <div style="float: right;">
      {% if paginator.next_page %}
        <a href="/p/{{ paginator.next_page }}"><i class="icon icon-fast-forward"></i></a>
      {% else %}
        <span class="mute"><i class="icon icon-fast-forward"></i></span>
      {% endif %}
    </div>
  </div>
</div>

