<script src="/js/disqus.js?{{ site.data['hash'] }}"></script>

<div class="disqus" role="complementary" aria-hidden="true">
  <p class="disqus_hint" >
    Please, use <a href="https://help.disqus.com/commenting/what-html-tags-are-allowed-within-comments">syntax highlighting</a>
    in your comments, to make them more readable.
  </p>
  <div id="disqus_thread" class="disqus-thread">
    <a>&nbsp;</a>
  </div>
  <noscript>
    <div>
      <p class="red">
        JavaScript is disabled in your browser,
        that's why you can't see comments under this post.
      </p>
    </div>
  </noscript>
</div>
