$main-font: 'Cambria', 'Georgia', 'Times New Roman', serif;
$code-font: 'Source Code Pro', monospace;

$em: 1.2793rem;
$px: 1.2793px;
$width: 33.3 * $em;

$blue: #053c5e;
$red: #cf021b;
$green: #31572c;
$orange: #d98324;