@import url('//fonts.googleapis.com/css?family=Source+Code+Pro:400,500|Ubuntu+Mono:400');

@font-face {
  font-family: 'Cambria';
  font-weight: normal;
  font-style: normal;
  src: local('Cambria'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_2_0.eot'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_2_0.eot?#iefix') format('embedded-opentype'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_2_0.woff2') format('woff2'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_2_0.woff') format('woff'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_2_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Cambria';
  font-weight: bold;
  font-style: normal;
  src: local('Cambria'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_1_0.eot'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_1_0.eot?#iefix') format('embedded-opentype'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_1_0.woff2') format('woff2'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_1_0.woff') format('woff'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_1_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Cambria';
  font-weight: normal;
  font-style: italic;
  src: local('Cambria'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_3_0.eot'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_3_0.eot?#iefix') format('embedded-opentype'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_3_0.woff2') format('woff2'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_3_0.woff') format('woff'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_3_0.ttf') format('truetype');
}
@font-face {
  font-family: 'Cambria';
  font-weight: bold;
  font-style: italic;
  src: local('Cambria'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_0_0.eot'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_0_0.eot?#iefix') format('embedded-opentype'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_0_0.woff2') format('woff2'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_0_0.woff') format('woff'),
    url('//cf.jare.io/?u=http://www.yegor256.com/fonts/cambria/2EAA54_0_0.ttf') format('truetype');
}
