@import 'defs';

.icon:before {
  font-size: $em;
  line-height: 1.2 * $em;
}

.icon-twitter:hover { color: #00aced; }
.icon-github:hover { color: #800080; }
.icon-facebook:hover { color: #3b5998; }
.icon-googleplus:hover { color: #dd4b39; }
.icon-linkedin:hover { color: #007bb6; }
.icon-hackernews:hover { color: #f60; }
.icon-instagram:hover { color: #fd1d1d; }
.icon-rss:hover { color: #f60; }
.icon-reddit:hover { color: #cee3f8; }
.icon-coderanch:hover { color: #995c56; }
.icon-digg:hover { color: #356aa0; }
.icon-stumbleupon:hover { color: #ea4724; }
.icon-pinterest:hover { color: #c92228; }
.icon-youtube:hover { color: #e52d27; }
.icon-angellist:hover { color: #6694ca; }
.icon-gitter:hover { color: #ff006e; }

.icon-yes { color: $green; }
.icon-no { color: $red; }
