@import 'defs';

.icon:before {
  font-size: $em;
  line-height: 1.2 * $em;
}

.icon-twitter:hover { color: #00aced; }
.icon-stackoverflow:hover { color: #f48024; }
.icon-github:hover { color: #800080; }
.icon-facebook:hover { color: #3b5998; }
.icon-linkedin:hover { color: #007bb6; }
.icon-instagram:hover { color: #fd1d1d; }
.icon-rss:hover { color: #f60; }
.icon-reddit:hover { color: #cee3f8; }
.icon-pinterest:hover { color: #c92228; }
.icon-youtube:hover { color: #e52d27; }
.icon-angellist:hover { color: #6694ca; }
.icon-gitter:hover { color: #ff006e; }
.icon-podcast:hover { color: #f50; }
