article {
  p {
    hyphens: auto;
    margin-bottom: .75 * $em;
    margin-top: .75 * $em;

    strong {
      color: #cf021b;
    }
  }
}

.jekyll-chatgpt-translate {
  color: gray;
  font-size: 80%;
}

.buttons {
  @extend %unprintable;
  margin-bottom: .5 * $em;

  a,
  a:visited {
    text-decoration: none;
  }

  a {
    position: relative;

    .count {
      background-color: white;
      border: 1 * $px solid gray;
      color: gray;
      display: none;
      font-family: $code-font;
      font-size: .6 * $em;
      line-height: .7 * $em;
      padding: 0 .2 * $em;
      position: absolute;
      right: .3 * $em;
      top: -.7 * $em;
    }

    .icon {
      $size: 1.2;
      border: 1 * $px solid gray;
      border-radius: 50%;
      color: gray;
      display: inline-block;
      height: $size * $em;
      line-height: $size * $em;
      margin-bottom: .2 * $em;
      margin-right: .2 * $em;
      padding: .4 * $size * $em;
      text-align: center;
      vertical-align: middle;
      width: $size * $em;

      &:hover {
        background-color: gray;
        color: white;
      }
    }
  }
}

.quote {
  @extend %desktop-only;
  @extend %unprintable;
  border-left: 4 * $px solid darkgreen;
  float: right;
  font-size: 1.6 * $em;
  line-height: 1.6 * $em;
  margin: .5 * $em -5 * $em .5 * $em $em;
  padding-left: .75 * $em;
  width: 15 * $em;

  &::before {
    content: 'Ë®';
  }
}

.book {
  @extend %desktop-only;
  @extend %unprintable;
  float: right;
  font-family: $code-font;
  margin: .5 * $em -6 * $em .5 * $em $em;
  padding-left: .75 * $em;
  width: 15 * $em;

  .book-cover {
    border: 1 * $px solid lightgray;
    float: left;
    height: 160 * $px;
    margin-right: .6 * $em;
    width: 108 * $px;
  }

  .amazon-button {
    height: 20 * $px;
  }
}

