$red: #c42c00;
$gray: #d3d3d3;

.ponomar {
  font-family: 'Ponomar Unicode';
}

.photo {
  border: 4px solid $red;
}

.quote {
  font-size: 1.4em;

  span {
    display: block;
    font-size: .8em;
    text-align: right;
  }
}

.jekyll-chatgpt-translate {
  color: $gray;
  font-size: 80%;
}
