@import 'defs';
@import 'fonts';

table {
  td,
  th {
    &.rht {
      text-align: right;
    }

    &.cnt {
      text-align: center;
    }

    &.vert {
      vertical-align: bottom;
      white-space: nowrap;

      > div {
        text-align: left;
        transform: translate(0, -.5 * $em) rotate(270deg);
        width: 2 * $em;
      }
    }
  }
}
