@import 'defs';

%wrapper {
  box-sizing: border-box;
  clear: both;
  line-height: 1.35 * $em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2 * $em;
  padding-right: 2 * $em;
  width: $width;

  @media all and (max-width: $width) {
    line-height: 1.6 * $em;
    padding-left: $em;
    padding-right: $em;
    width: 100%;
  }
}

.wrapper {
  @extend %wrapper;
}
