---
layout: default
amp: true
---

<section itemscope="" itemtype="http://schema.org/BlogPosting">
  <div class="wrapper">
    <header>
      <p class="printable">
        <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ site.url }}{{ page.url }}&amp;format=svg"
          style="width:125px;height:125px;" alt="QR code"/>
      </p>
      <p class="printable">
        <code itemprop="url">{{ site.url }}{{ page.url }}</code>
      </p>
      <h1 itemprop="name headline mainEntityOfPage">{{ page.title }}</h1>
      {% if page.book %}
        {{ page.book | book }}
      {% endif %}
      <ul class="subline">
        <li>
          <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%-d %B %Y" }}
          </time>
        </li>
        {% if page.place %}
          <li class="desktop-only" itemprop="locationCreated">{{ page.place }}</li>
        {% endif %}
        {{ page | modified }}
        <li class="printable" itemscope="" itemprop="author" itemtype="http://schema.org/Person">
          <span itemprop="name">{{ site.author.name }}</span>
        </li>
        <li class="unprintable">
          <i class="icon icon-comments"></i>
          <a href="http://www.yegor256.com{{ page.url }}#disqus_thread" itemprop="discussionUrl">comments</a>
        </li>
      </ul>
      {% if page.translated %}
        <ul class="unprintable subline">
          <li>Translated:</li>
          {% for hash in page.translated %}
            {% for link in hash %}
              <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
            {% endfor %}
          {% endfor %}
          <li><a href="mailto:translate@yegor256.com">add yours!</a></li>
        </ul>
      {% endif %}
      {% if page.social %}
        <ul class="subline">
          <li>Discussed at:</li>
          {% for hash in page.social %}
            {% for link in hash %}
              <li><a href="{{ link[1] }}">{{ link[0] }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      {% endif %}
      {% if page.republished %}
        <ul class="subline">
          <li>Republished in:</li>
          {% for m in page.republished %}
            <li><a href="{{ m.url }}">{{ m.place }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      <p class="unprintable">{{ page | yb_page_tags }}</p>
      <nav class="buttons notranslate desktop-only">
        <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
          title="Share on Facebook" class="button" rel="nofollow">
          <span class="count count-facebook">0</span>
          <i class="icon icon-facebook notranslate" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | cgi_escape }}"
          title="Share on Twitter" class="button" rel="nofollow">
          <span class="count count-twitter">0</span>
          <i class="icon icon-twitter notranslate" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{ page.url }}"
          title="Share on LinkedIn" class="button" rel="nofollow">
          <span class="count count-linkedin">0</span>
          <i class="icon icon-linkedin notranslate" aria-hidden="true"></i>
        </a>
        <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;title={{ page.title | cgi_escape }}"
          title="Share on Reddit" class="button" rel="nofollow">
          <span class="count count-reddit">0</span>
          <i class="icon icon-reddit notranslate" aria-hidden="true"></i>
        </a>
        <a href="http://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;t={{ page.title | cgi_escape }}"
          title="Share on Hacker News" class="button" rel="nofollow">
          <span class="count count-hackernews">0</span>
          <i class="icon icon-hackernews notranslate" aria-hidden="true"></i>
        </a>
      </nav>
    </header>
    <article class="main" itemprop="articleBody">
      <div {% if page.nospell %} class="nospell" {% endif %}>
        {{ content }}
      </div>
    </article>
  </div>

  <div class="wrapper" aria-hidden="true">
    {% if page.related %}
      <div class="unprintable">
        <hr/>
        <p>If you like this article, you will definitely like these
        <strong>very relevant</strong> posts too:</p>
        {% related_posts %}
      </div>
    {% else %}
      <related-posts />
    {% endif %}
  </div>

  <div class="disqus" role="complementary" aria-hidden="true">
    <p class="disqus_hint" >
      Please, use <a href="https://help.disqus.com/commenting/what-html-tags-are-allowed-within-comments">syntax highlighting</a>
      in your comments, to make them more readable.
    </p>
    <div id="disqus_thread" class="disqus-thread">
      <a>&nbsp;</a>
    </div>
    <script>
      var disqus_config = function () {
        this.page.url = document.location.href.split('?')[0].split('#')[0].replace('https://', 'http://');
        this.page.identifier = this.page.url;
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = '//yegor256.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>
      <div>
        <p class="red">
          JavaScript is disabled in your browser,
          that's why you can't see comments under this post.
        </p>
      </div>
    </noscript>
  </div>

  <div class="wrapper">
    <footer class="footer">
      <p>
        &copy;
        <span itemscope="" itemprop="copyrightHolder" itemtype="http://schema.org/Person">
          <span itemprop="name">{{ site.author.name }}</span>
        </span>
        2014&ndash;<span itemprop="copyrightYear">{{ 'now' | date: "%Y" }}</span>
      </p>
    </footer>
  </div>

</section>
