---
layout: default
---

<section itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <header>
      <p class="printable">
        <code>{{ site.url }}{{ page.url }}</code>
      </p>
      <h1 itemprop="name">{{ page.title }}</h1>
      <ul class="subline">
        <li>
          <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date: "%-d %B %Y" }}
          </time>
        </li>
        <li class="printable">Yegor Bugayenko</li>
        <li class="unprintable">
          <i class="icon icon-comments"></i>
          <a href="{{ site.url }}{{ page.url }}#disqus_thread">comments</a>
        </li>
      </ul>
      <p class="unprintable">{{ page | tags }}</p>
      <div class="buttons">
        <nav class="share" role="navigation">
          <a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
            title="Share on Facebook" class="button">
            <span class="count count-facebook">0</span>
            <i class="icon icon-facebook notranslate"></i>
          </a>
          <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | cgi_escape }}"
            title="Share on Twitter" class="button">
            <span class="count count-twitter">0</span>
            <i class="icon icon-twitter notranslate"></i>
          </a>
          <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
            title="Share on Google+" class="button">
            <span class="count count-googleplus">0</span>
            <i class="icon icon-googleplus notranslate"></i>
          </a>
          <a href="https://www.linkedin.com/cws/share?url={{ site.url }}{{ page.url }}"
            title="Share on LinkedIn" class="button">
            <span class="count count-linkedin">0</span>
            <i class="icon icon-linkedin notranslate"></i>
          </a>
          <a href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&amp;title={{ page.title | cgi_escape }}"
            title="Share on StumbleUpon" class="button">
            <span class="count count-stumbleupon">0</span>
            <i class="icon icon-stumbleupon notranslate"></i>
          </a>
          <a href="http://del.icio.us/post?url={{ site.url }}{{ page.url }}&amp;title={{ page.title | cgi_escape }}"
            title="Share on Delicious" class="button">
            <span class="count count-delicious">0</span>
            <i class="icon icon-delicious notranslate"></i>
          </a>
          <a href="http://digg.com/submit?phase=2&amp;url={{ site.url }}{{ page.url }}&amp;title={{ page.title | cgi_escape }}"
            title="Share on Digg" class="button">
            <span class="count count-digg">0</span>
            <i class="icon icon-digg notranslate"></i>
          </a>
          <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;title={{ page.title | cgi_escape }}"
            title="Share on Reddit" class="button">
            <span class="count count-reddit">0</span>
            <i class="icon icon-reddit notranslate"></i>
          </a>
          <a href="http://news.ycombinator.com/submitlink?u={{ site.url }}{{ page.url }}%3F{{ page.date | date: "%Y-%U" }}&amp;t={{ page.title | cgi_escape }}"
            title="Share on Hacker News" class="button">
            <i class="icon icon-hackernews notranslate"></i>
          </a>
        </nav>
      </div>
    </header>
    <main role="main">
      <article class="main" role="article" itemprop="articleBody">
        {{ content }}
      </article>
    </main>
    {% if site.related_posts.size > 0 %}
      <div class="unprintable">
        <h2>Related Posts</h2>
        <p>You may also find these posts interesting:</p>
        <ul>
          {% for post in site.related_posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>

  <div class="disqus" role="complementary">
    <div id="disqus_thread"></div>
    <a href="http://disqus.com" class="dsq-brlink">
      comments powered by
      <span class="logo-disqus">Disqus</span>
    </a>
    <script src="//yegor256.disqus.com/embed.js" async="async"></script>
  </div>

  <div class="wrapper">
    <footer class="footer">
      <p>
        &copy; <span itemprop="author">Yegor Bugayenko</span>, 2014
      </p>
    </footer>
  </div>

</section>

<script src="/js/post.js?{{ site.data['hash'] }}"></script>
