---
layout: default
---

<section itemscope itemtype="http://schema.org/BlogPosting">

  <div class="wrapper">
    <header>
      <h1 itemprop="name">{{ page.title }}</h1>
    </header>
    <p>
      <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%-d %B %Y" }}
      </time>
    </p>
    <div class="buttons">
      <nav class="share" role="navigation">
        <a href="http://www.facebook.com/sharer/sharer.php?u=http://www.yegor256.com{{ page.url }}"
          title="Share on Facebook" class="button">
          <i class="ico ico-facebook"></i>
        </a>
        <a href="https://twitter.com/share?url=http://www.yegor256.com{{ page.url }}&amp;text={{ page.title | cgi_escape }}"
          title="Share on Twitter" class="button">
          <i class="ico ico-twitter"></i>
        </a>
        <a href="https://plus.google.com/share?url=http://www.yegor256.com{{ page.url }}"
          title="Share on Google+" class="button">
          <i class="ico ico-google"></i>
        </a>
        <a href="https://www.linkedin.com/cws/share?url=http://www.yegor256.com{{ page.url }}"
          title="Share on LinkedIn" class="button">
          <i class="ico ico-linkedin"></i>
        </a>
      </nav>
    </div>
    {% if page.discussions %}
      <div class="buttons" style="text-align:right;">
        <span class="gray">discuss at</span>
        <nav class="share" role="navigation">
          {% for link in page.discussions %}
            <a href="{{ link[1] }}" title="discuss at {{ link[0] }}">
              <i class="ico ico-{{ link[0] }}"></i>
            </a>
          {% endfor %}
        </nav>
      </div>
    {% endif %}
    <main role="main">
      <article role="article" itemprop="articleBody">
        {{ content }}
      </article>
    </main>
    {% if site.related_posts %}
      <h2>Related Posts</h2>
      <p>You may also find these posts interesting:</p>
      <ul>
        {% for post in site.related_posts %}
          <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="disqus" role="complementary">
    <div id="disqus_thread"></div>
    <noscript>
      Please enable JavaScript to view the
      <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
    <a href="http://disqus.com" class="dsq-brlink">
      comments powered by <span class="logo-disqus">Disqus</span>
    </a>
  </div>

  <div class="wrapper">
    <footer class="footer">
      <p>
        &copy; <span itemprop="author">Yegor Bugayenko</span>, 2014
      </p>
    </footer>
  </div>

</section>
