---
layout: default
description: |
  Tagged articles in the blog of Yegor Bugayenko, about
  software development, object-oriented programming,
  project management, and startup investments
---

<section itemscope="" itemtype="http://schema.org/BlogPosting">
  <div class="wrapper">
    <header itemprop="name">
      {% if page.title == 'oop' %}
        <h1>{{ page.posts.size }} Posts About Object-Oriented Programming (OOP)</h1>
        <p>
          <a href="https://gitter.im/yegor256/elegantobjects"><img alt="Elegant Objects logo"
            src="/images/books/elegant-objects/cactus.svg" style="height:150px;float:right;margin-left:1em"/></a>
          You can learn more about OOP from my recently published
          book <a href="/elegant-objects.html">Elegant Objects</a> too.
        </p>
      {% elsif page.title == 'management' %}
        <h1>{{ page.posts.size }} Posts About Management</h1>
        <p>
          <img alt="Code Ahead logo" src="/images/books/code-ahead/mushroom.svg" style="height:150px;float:right;margin-left:1em"/>
        </p>
      {% elsif page.title == 'java' %}
        <h1>{{ page.posts.size }} Posts About Java&trade;</h1>
        <p>
          <img alt="Java logo" src="/images/java-icon.svg" style="height:150px;float:right;margin-left:1em"/>
        </p>
      {% elsif page.title == 'rultor' %}
        <h1>{{ page.posts.size }} Posts About Rultor GitHub Chatbot</h1>
        <p>
          <img alt="Rultor logo" src="//doc.rultor.com/images/logo.svg" style="height:150px;float:right;margin-left:1em"/>
        </p>
      {% elsif page.title == 'zerocracy' %}
        <h1>{{ page.posts.size }} Posts About Zerocracy&trade;</h1>
        <p>
          <a href="https://www.zerocracy.com">
            <img alt="Zerocracy logo" src="//www.0crat.com/svg/logo.svg" style="height:150px;float:right;margin-left:1em"/></a>
          <a href="https://www.zerocracy.com">Zerocracy</a>
          a project manager that
          <a href="/2018/03/21/zerocracy-announcement.html">never sleeps</a>,
          is a hosted software that streamlines project management,
          optimizes costs, and increases quality.
        </p>
      {% elsif page.title == 'xdsd' %}
        <h1>{{ page.posts.size }} Posts About eXtremely Distributed Software Development (XDSD&trade;) Methodology</h1>
        <p>
          <a href="https://www.xdsd.org/">
            <img alt="XDSD logo" src="//www.xdsd.org/images/logo.svg" style="height:150px;float:right;margin-left:1em"/></a>
          <a href="https://www.xdsd.org">XDSD</a> is an open software development methodology
          that aims to reduce risks and improve quality in a project
          of almost any size.
        </p>
      {% elsif page.title == 'unknown' %}
        <h1>unknown</h1>
      {% else %}
        <h1>{{ page.posts.size }} posts about {{ page.title }}</h1>
      {% endif %}
    </header>
    <article itemprop="articleBody">
      {% for post in page.posts %}
        {{ post | tagged }}
      {% endfor %}
    </article>
  </div>
</section>
