# SPDX-FileCopyrightText: Copyright (c) 2014-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
name: deploy
'on':
  push:
    branches:
      - master
concurrency:
  group: ${{ github.ref }}-deploy
  cancel-in-progress: true
jobs:
  site:
    timeout-minutes: 45
    runs-on: ubuntu-24.04
    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0.1 # don't change this
          bundler-cache: true
      - run: sudo .github/install-apt.sh
      - run: bundle exec rake
      - uses: actions/upload-artifact@v6
        with:
          name: site
          path: _site
  icons:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: rm -f Gemfile Gemfile.lock
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 4.0.1 # don't change this
          bundler-cache: false
      - run: sudo .github/install-woff.sh
      - run: .github/make-icons.sh icons
      - uses: actions/upload-artifact@v6
        with:
          name: icons
          path: icons
  publish:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    needs: [site, icons]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v7
        with:
          name: site
          path: gh-pages
      - uses: actions/download-artifact@v7
        with:
          name: icons
          path: gh-pages/css
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: sudo npm install -g html-minifier@4.0.0
      - run: |
          find gh-pages -name '*.html' -type f -exec \
            html-minifier --collapse-whitespace --remove-comments \
            --remove-optional-tags --remove-redundant-attributes \
            --remove-script-type-attributes --remove-tag-whitespace \
            --use-short-doctype --minify-css true --minify-js true \
            --output {} {} \;
      - uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: gh-pages
          target-folder: .
          clean: true
