# SPDX-FileCopyrightText: Copyright (c) 2014-2026 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: jekyll
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  jekyll:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.8
          bundler-cache: true
      - run: sudo .github/install-apt.sh
      - run: bundle exec rake
