# SPDX-FileCopyrightText: Copyright (c) 2014-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: stylelint
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  stylelint:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - run: cd node && npm install
      - run: cd node && npx stylelint "_sass/*.scss"
